<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhẫn PNJ</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1 style="color: white;"> <h1 style="color: white;">Welcome to PNJ</h1></h1>
        <nav>
            <a href="/" id="home-btn">Home</a>
            <a href="/products" id="products-btn">Products</a>
            <a href="/cart" id="cart-btn">Cart</a>
            <a href="/login" id="login-btn">Login</a>
        </nav>
    </header>
    <main>
        <h2>Featured Products</h2>
        <!-- <section id="product-list">
            {% for product in products %}
            <div class="product-card"> -->
                    <!-- <img src="{{ url_for('static', filename=product['image_url']) }}" alt="{{ product['name'] }}" height="100px" width="150px"> -->
                    <!-- <img src="{{ url_for('static', filename='1.jpg') }}" alt="Example Product" height="100px" width="150px"> -->
                    <!-- <img src="{{product['image_url']}}" alt=""> -->
                    <!-- <h3>{{ product['name'] }}</h3>
                    <p>{{ product['description'] }}</p>
                    <p>${{ product['price'] }}</p>
                    <button class="add-to-cart" data-id="{{ product['id'] }}">Add to Cart</button>
                </div>
                {% endfor %}
        </section> -->
        <section id="product-list">
            <!-- {% for product in products %}
            <div class="product-card">
                <img src="{{ url_for('static', filename=product['image']) }}" alt="{{ product['name'] }}" height="100px" width="150px">
                <h3>{{ product['name'] }}</h3>
                <p>{{ product['description'] }}</p>
                <p>${{ product['price'] }}</p>
                <button class="add-to-cart" data-id="{{ product['id'] }}">Add to Cart</button>
            </div>
            {% endfor %} -->
            {% for product in products %}
            <div class="product-card">
                <!-- <img src="{{ url_for('static', filename='image/1.jpg') }}" alt="{{ product['title'] }}" height="100px" width="150px"> -->
                <img src="{{ url_for('static', filename=product['image']) }}" alt="{{ product['name'] }}" height="100px" width="150px">
                <h3>{{ product['name'] }}</h3>
                <p>{{ product['description'] }}</p>
                <p>${{ product['price'] }}</p>
                <button class="add-to-cart" data-id="{{ product['id'] }}">Add to Cart</button>
            </div>
            {% endfor %}
        </section>
        
    </main>
    <footer>
        <p>&copy; Thái Viết Lập</p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>
